* {
    box-sizing: border-box;
}

#header-nav {
    background-color: #e9e3e3;   
    border: solid black 2px;
    margin-bottom: 0;
}

.navbar-brand {       
    padding-left: 0px;  
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

.navbar-brand h1 {    
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 1.5em;
    color: black;   
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px; 
}

.text-center {
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 38px;
    font-weight: bold;
    position: relative;
    margin-top: 60px;
}

#text {       
    background-color: #e9e3e3;   
    margin: 20px;
    font-family: sans-serif;   
    position: relative;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    text-align: center;
    color: black;
    font-weight: 100;
    background-color: #AAA5A5;
}

#nav-list a:hover {
    background-color: #635b54;   
}

.navbar-default .navbar-collapse {
    list-style-type: none;
}  

